################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECommercePaymentIntegration/.vs/ECommercePaymentIntegration
/.vs
