################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECommercePaymentIntegration/.vs/ECommercePaymentIntegration
/.vs
**/bin/
**/obj/
/ECommercePaymentIntegration.Application/{relativePathTo}/stylecop.json
